{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <a href="{{ path('app_category_new') }}">Create new category</a>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('app_category_view',{
                    id : category.id
                    }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
