{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}
    <a href="{{ path('app_business_type_new') }}">Create new business type</a>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        {% for businessType in businessTypes %}
            <tr>
                <td><a href="{{ path ('app_business_type_view',{
                        id : businessType.id
                    }) }}"> {{ businessType.id }}</a></td>
                <td>{{ businessType.name }}</td>
            </tr>
        {%  endfor %}
    </table>
{% endblock %}
